{% extends 'base.html' %}

{% block head %}
  <title>Embedding Vega-Lite</title>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega@5"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-lite@4.17.0"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-embed@6"></script>
{% endblock %}

{% block content %}
  <style>
  #plot {
    margin-top: 50px;
  }
  #plot-controls {
    margin-top: 50px;
  }
  </style>

  <div class="row">
    <div class="col-lg-12">
      <h3>Downloads</h3>
    </div>
  </div>

  <div class="row" id="toolbar-top">
    <div class="col-lg-12">
      <div class="btn-group">
        <a href="results.tsv" class="btn btn-default"> CheckM report (tsv) </a>
        <a href="checkm_plots.zip" class="btn btn-default"> CheckM plots (zip) </a>
        <a href="checkm_report.pdf" class="btn btn-default"> CheckM full report (pdf) </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-2" id="plot-controls">
      <h3>Plot controls</h3>
    </div>
  </div>

  <div class="row">
    {% if vega_plots is defined %}
    <div class="col-lg-6">
      <div id="plot"></div>
    </div>
    {% else %}
    <p>Unable to generate the completeness plot</p>
    {% endif %}
  </div>

{% if vega_plots is defined %}
  <script id="spec" type="application/json">
    {{ vega_plots }}
  </script>

<script type="text/javascript">
  $(document).ready(function() {
    const spec = JSON.parse(document.getElementById('spec').innerHTML);
    const dim = $('#plot').width() / 2;
    const opts = { width: 1.1 * dim, height: dim };

    vegaEmbed('#plot', spec).then(function(result) {
      result.view.logLevel(vega.Warn);
      // Stash the view object in global namespace for debugging purposes.
      // Check out https://vega.github.io/vega/docs/api/debugging/
      // for more details.
      window.v = result.view;

      // move the sliders to the right
      const controls = document.getElementsByClassName('vega-bindings');
      document.getElementById('plot-controls').appendChild(controls[0])

    }).catch(function(error) {
      // From 'js-error-handler.html'
      handleErrors([error], $('#plot'));
    });

    // // Clean up the vega-embed toolbar
    // let toolbar = $('div .vega-actions').detach();
    // toolbar.addClass('btn-group');
    // toolbar.children('a').each(function() {
    //   $(this).addClass('btn btn-default');
    // });
    // $('<a href="data.tsv" target="_blank" rel="noopener noreferrer" class="btn btn-default">Export as TSV</a>')
    //   .prependTo(toolbar);
    // toolbar.appendTo('#toolbar');
    //
    // let plotControls = $('#plot-controls')
    // $(plotControls).append(toolbar)

  });
</script>

{% endif %}

{% endblock %}

{% block footer %}
{% set loading_selector = '#loading' %}
{% include 'js-error-handler.html' %}

{% endblock %}
